---
import { site } from '../data/site';
---

<header class="site-header">
  <div class="site-header__inner">
    <a class="brand" href="/">
      <span class="brand__eyebrow">{site.label}</span>
      <span class="brand__name">{site.name}</span>
    </a>

    <nav class="nav">
      <a href="/">Le lieu</a>
      <a href="/menu">Le menu</a>
      <a href="/#contact">Contact</a>
    </nav>
  </div>
</header>
